.blog {
  height: calc(100% - 70px);
}
.blog .content-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.blog .content-box .markdown-body {
  box-sizing: border-box;
  height: 100%;
  width: 80vw;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 45px 5vw;
}
