body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary--color: #6899EF;
  --primary--color--transparent: #6899EF01;
  --primary--color--lighter: #6899EF1f;
  --primary--color--light: #6899EF22;
}
