body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary--color: #61dafb;
  --primary--color--transparent: #61dafb01;
  --primary--color--lighter: #61dafb1f;
  --primary--color--light: #61dafb22;
}
